<%- include('../partials/header') %>

  <h1><%=title%></h1>



 
      <p>I am Diego Cepeda, a student at Seattle Central College and an active participant in the Year Up program. My focus is data analysis, and I am excited to apply my skills professionally.
</p>    
      <p>Seattle Central College provides my academic foundation, while Year Up enhances my practical abilities. Data analysis's intricacies have long captivated me—I find satisfaction in uncovering insights from complex data.</p>    
      <p>
With Year Up's guidance, I'm ready to transition theory into practice. Armed with strong data analysis skills, I am prepared to contribute effectively to challenges and opportunities in this field.
</p>    
      <p>This journey signifies personal and professional growth. Seattle Central College and Year Up are shaping my passion into a purposeful career in data analysis.</p>

<img class="aboutpic" src="views/images/about.jpeg" alt="about" style="width:500px;height:500px;">
<%- include('../partials/footer') %>
  