<%- include('../partials/header') %>

  <h1><%=title%></h1>
      <p>Node.js is like the behind-the-scenes worker that helps the website do smart things. Express.js is like a toolbox that helps you build the website's structure easily, making sure everything goes to the right place. EJS is like a way to create flexible pages by mixing regular content with special instructions that change based on what's happening. Together, Node.js, Express.js, and EJS help make websites that can do cool things and show different stuff to different people.</p>    
    <img class="homepic" src="views/images/home.jpeg" alt="home" style="width:800px;height:350px;">
    
<%- include('../partials/footer') %>