<%- include('../partials/header') %>

  <h1><%=title%></h1>
 
      <p>I am pleased to highlight the successful completion of a diverse array of projects that underscore my proficiency and dedication. From the elegant web design of "HomeStylin' With CSS" to the interactive coding challenges presented in "GitHubLinkedInPositioning," "Time Of Day," and "Daily Grind," I have adeptly honed my expertise in HTML, CSS, and JavaScript. "CreaturesDom-PlayForm-Template" and "Title-CaseGet-EvenLooping Forms" served as platforms to demonstrate my adeptness in manipulating the Document Object Model and crafting dynamic form templates. Furthermore, projects like "Data ProcessingSeasonal-Styles" effectively showcased my prowess in data management and the creation of responsive web designs. Through the execution of "Guess-The-NumberAJAX Quotes," I delved into the realm of asynchronous programming, consistently augmenting my skill set. These projects collectively reflect my unwavering commitment and progressive evolution as a developer. I am enthusiastic about embracing fresh challenges and prospects that lie ahead in my journey.</p>    

      <img class="projectpic" src="views/images/project.jpeg" alt="project" style="width:500px;height:350px;">

<%- include('../partials/footer') %>